@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.2857% 95.8824%;
    --secondary-foreground: 215 13.7931% 34.1176%;
    --muted: 210 20% 98.0392%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 204 93.75% 93.7255%;
    --accent-foreground: 224.4444 64.2857% 32.9412%;
    --destructive: 0 84.2365% 60.1961%;
    --border: 220 13.0435% 90.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 217.2193 91.2195% 59.8039%;
    --radius: 0.625rem;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 221.2121 83.1933% 53.3333%;
    --chart-3: 224.2781 76.3265% 48.0392%;
    --chart-4: 225.931 70.7317% 40.1961%;
    --chart-5: 224.4444 64.2857% 32.9412%;
  }

  .dark:root {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 14.902%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.902%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 224.4444 64.2857% 32.9412%;
    --accent-foreground: 213.3333 96.9231% 87.2549%;
    --destructive: 0 84.2365% 60.1961%;
    --border: 0 0% 25.098%;
    --input: 0 0% 25.098%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 213.1169 93.9024% 67.8431%;
    --chart-2: 217.2193 91.2195% 59.8039%;
    --chart-3: 221.2121 83.1933% 53.3333%;
    --chart-4: 224.2781 76.3265% 48.0392%;
    --chart-5: 225.931 70.7317% 40.1961%;
  }
}
